version: "3.9"

services:
  db:
    image: postgres
    container_name: inkwell-db
    restart: always
    environment:
      POSTGRES_PASSWORD: postAdminPassword
      POSTGRES_USER: postMyGres
      POSTGRES_DB: inkwell
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data

  app: 
    build: 
      context: .
      dockerfile: Dockerfile
      container_name: inkwell-app
      restarts: always
      ports: 
        - 8000:8000
      
      depends_on: 
        - db
volumes:
  db_data: